html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body{
	max-width: 750px;
    display: table-cell;
    vertical-align: middle;
    background-color: #ffd699 ;
	font-family: "Lucida Console";
	color: #808080;
}

h1{
	 color: #7c795d; 
	 font-family: 'Source Sans Pro', sans-serif;
	 font-variant: small-caps;

}

h2{
	color: #7c795d;
	font-family: 'Source Sans Pro', sans-serif;
	font-variant: small-caps;
}

a{
	background-color: #ffb84d ;
	color: #7c795d;
	text-decoration: none;
	font-weight: bold;
	font-variant: small-caps;
}

a:visited { 
    background-color: #cc7a00;
    color: #ffd699;
}

.list{
	padding: 30px;
	border: solid grey 1px;
	border-radius: 30px;
}

.intro{
	font-family: "Lucida Console";
	color: #808080;
	font-weight: bold;
	font-size: 90%;
}

.newsletter{
	font-variant: small-caps;
	font-weight: bold;
	font-family: "Lucida Console";
	color: #808080;

}

.home{
	display: table;
    margin: auto;
    vertical-align: middle;
    background-color: #ffd699;
    font-size: 120%;
    text-decoration: underline;
}

.GIFs{
	max-width: 750px;
}

#description{
	text-align: center;

}

#start{
	margin: 25%;
}

#christmas{
	position:absolute;
	padding: 0.5%;
	border: solid 1px red;
	border-radius: 20px;
	top: 1020px;
	right: 700px;
	text-align: center;
	font-weight: bold;
	z-index: 0;
	font-size: 200%;
	color: black;
	font-variant: small-caps;
}


#christmas-image{
	position: absolute;
	z-index: -1;
	max-width: 750px;
}

@media screen and (max-width: 1800px) {
  #christmas {
    position: initial;
    background-color:  green ;
    color: white;
    margin: 1%; 
  }

  img {
    width: 100%;
    height: auto;
}
}

/*Add at least one media query to improve the responsiveness of your page; validar e submeter